# end of line conversion CLRF -- LF
# Default is auto
*              text=auto

# Hidden .git files: CRLF for convenience
.gitattributes text eol=crlf
.gitignore     text eol=crlf

# Shell scripts must be LF
*.sh           text eol=lf

# Tc files must be CRLF
*.plcproj      text eol=crlf
*.Tc*          text eol=crlf filter=cleanCode
*.tsproj       text eol=crlf filter=ignoreNetId
*.txt          text eol=crlf
*.xml          text eol=crlf
*.xti          text eol=crlf


# Configure the following in TwinCAT:
# TOOLS -> Options -> TwinCAT -> PLC Environment -> Write Options -> Separate LineIDS : True
# To activate the filter, copy the following line into a git bash,
# remove the hash and run it:
#git config filter.cleanCode.clean   'sed -b -f filter/cleanCode.sed'

