
*.bak
*.pyc
*.suo
*.tmc
*.tpy
*.~u
*~
.#*
.epics.*
UpgradeLog.htm
\#*#
_Boot/
_CompileInfo/
_Libraries/
logs.0*
solution/TrialLicense.tclrs
tools/linux/ADS/
tools/linux/getADSState/getADSState.bin
_Config/NC/Axes
_Config/IO
