
*.bak
*.pyc
*.suo
*.tmc
*.tpy
*.~u
*~
.#*
.epics.*
UpgradeLog.htm
\#*#
_Boot/
_CompileInfo/
_Libraries/
solution/tc_project_app/LineIDs.dbg
LineIDs.dbg
logs.0*
solution/TrialLicense.tclrs
tools/linux/ADS/
tools/linux/getADSState/getADSState.bin
