# end of line conversion CLRF -- LF
# Default is auto
*              text=auto

# Hidden .git files: CRLF for convenience
.gitattributes text eol=crlf
.gitignore     text eol=crlf

# Shell scripts must be LF
*.sh           text eol=lf

# Tc files must be CRLF
*.plcproj      text eol=crlf
*.Tc*          text eol=crlf
*.tsproj       text eol=crlf
*.txt          text eol=crlf
*.xml          text eol=crlf
*.xti          text eol=crlf
