image: python:3.7.3
options:
  max-time: 1
pipelines:
  default:
     - step:
          script:
            - git submodule update --init
            - git submodule
            - python twincat_version_manager.py
            - python check_fix_white_space.py
